
extends ../node_modules/jade-bootstrap/_bootstrap

append styles
	// Custom styles for this template
	link(href='static/stylesheets/style.css', rel='stylesheet')



append body
	.container
		+navbar("Project name","dropdown_menu")
			+nav_item("index.html","active") Home
			+nav_item("about.html") About
			+nav_item("contact.html") Contact
			+nav_item_dropdown("#")(label="Dropdown")
				+nav_item("#") Action
				+nav_item("#") Another Action
				+nav_item("#") Something else here
				+nav_divider
				+nav_header Nav header
				+nav_item("#") Separated link
				+nav_item("#") One more separated link
		include sidebar.jade
		span.btn
			a(type='button',class="btn btn-primary",id="login_btn",href="/users_service/auth/facebook") login via facebook
		h1= 'hi '+display_name

				
					
h1 Rajasegar
